
 
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide container">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("contact_provider.jpg", :alt => "STCK logo") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>STCK Clinic</h1>
              <p class="lead">Let's work together to find out if <a href="https://www.sotheycanknow.org" target="_blank">So They Can Know</a> works for your patients.</p>
              <%= link_to "Sign Up", new_clinic_path, class: 'btn btn-large btn-primary'%>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel --> 



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <div id="how">
      <br/>
      <h2 class="featurette-heading">How it works.</h2>
      <p class="lead">You fill out a form, we send you material for a year.</p>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span3">
          <div class="icon_div img-rounded">
            <i class="icon-list-alt icon-5x"></i> 
          </div>
          <h3>You sign up</h3>
          <p>Using <%= link_to "this", new_clinic_path %> form.</p>
        </div><!-- /.span4 -->
        <div class="span1_5">
          <%= image_tag("medium_right_arrow_4.png", :class => "arrow", :alt => "arrow") %>
        </div>
        <div class="span3">
          <div class="icon_div img-rounded">
            <i class="icon-phone icon-5x"></i> 
          </div>
          <h3>We call you</h3>
          <p>To confirm everything, and make sure that we're sending you the right material.</p>
        </div><!-- /.span4 -->
        <div class="span1_5">
            <%= image_tag("medium_right_arrow_3.png", :class => "arrow", :alt => "arrow") %>
        </div>
        <div class="span3">
          <div class="icon_div img-rounded">
            <i class="icon-user icon-5x"></i> 
          </div>
          <h3>You create an account</h3>
          <p>We'll send you a link, a username, and a temporary password.</p>
        </div><!-- /.span4 -->
      </div><!-- /.row --> 
      <div class="row">
        <div class="span3 pull-right">
          <%= image_tag("down_arrow_2.png", :class => "arrow", :alt => "arrow") %>
        </div>
      </div>
      <div class="row second-row-top">
        <div class="span3 second-row">
          <div class="icon_div img-rounded">
            <i class="icon-list icon-5x"></i> 
          </div>
          <h3>You order material</h3>
          <p>And you can re-order if you're running low, too.</p>
        </div><!-- /.span4 -->
        <div class="span1_5 rotate-arrow second-row">
          <%= image_tag("medium_right_arrow_4.png", :class => "arrow", :alt => "arrow") %>
        </div>
        <div class="span3 second-row">
          <div class="icon_div img-rounded">
            <i class="icon-envelope icon-5x"></i> 
          </div>
          <h3>We mail it to you</h3>
          <p>For free.</p>
        </div><!-- /.span4 -->
        <div class="span1_5 rotate-arrow second-row">
          <%= image_tag("medium_right_arrow_3.png", :class => "arrow", :alt => "arrow") %>
        </div>
        
        <div class="span3 second-row">
          <div class="icon_div img-rounded">
            <i class="icon-heart icon-5x"></i> 
          </div>
          <h3>You give it to patients</h3>
          <p>And they notify their partners.</p>
          
        </div><!-- /.span4 -->
        
      </div><!-- /.row -->
      </div><!-- /#how -->
      
      <div id="about">

        <hr class="featurette-divider">

        <div class="featurette">
          <h2 class="featurette-heading">About us. <span class="muted">We're Sexual Health Innovations.</span></h2>
          <p class="lead"><a href="http://www.sexualhealthinnovations.org" target="_blank">Sexual Health Innovations</a> is a non-profit organization dedicated to using the power of technology to improve sexual health and well-being in the United States. We created <a href="https://www.sotheycanknow.org" target="_blank">So They Can Know</a> in an attempt to increase rates of STD partner notification, and we created this website to help us evaluate whether or not So They Can Know works.</p>

          <div class="row accordian" id="team">
            <div class="span4 accordian-group">
              <%= image_tag("jess.png", :alt => "Jessica Ladd") %>
              <h3>Jess Ladd</h3>
              <p>Executive Director</p>
              <div class="accordian-heading">
                <a class="btn accordian-toggle" data-toggle="collapse" data-parent="#team" href="#collapseJess">More about Jess</a>
              </div>
              <div id="collapseJess" class="accordian-body collapse">
                <div class="accordian-inner">
                  <br/>
                  Jess started working in sexual health at age 17. Since then, she's taught sex education, advocated for sexual health in DC on the Hill, worked in the White House Office of National HIV AIDS Policy, and founded The Social Innovation Lab and Sexual Health Innovations. She's spoken at multiple TEDx events, and was named a "Fearless Changemaker" by the Case Foundation. Jess received her MPH from the Johns Hopkins Bloomberg School of Public Health in May of 2011 and her B.A. in Human Sexuality/Public Policy from Pomona College in 2008.
                </div>
              </div>
            </div>
            <div class="span4 accordian-group">
              <%= image_tag("jenny.png", :alt => "Jenny McManus") %>
              <h3>Jenny McManus</h3>
              <p>Director of Operations</p>
              <div class="accordian-heading">
                <a class="btn accordian-toggle" data-toggle="collapse" data-parent="#team" href="#collapseJenny">More about Jenny</a>
              </div>
              <div id="collapseJenny" class="accordian-body collapse">
                <div class="accordian-inner">
                  <br/>
                  Prior to joining Sexual Health Innovations, Jenny worked as Residential Tutor Counselor for Upward Bound and as an after-school tutor for high school students in Providence, RI. She first got involved in the world of sexual health while assisting in clinical HIV research and patient education at Brown University. From 2009 to 2011 she was a member of the Aaron Diamond AIDS Research Center (ADARC) Vaccine Team, researching HIV and malaria vaccine candidates. Jenny received her MPH from the Johns Hopkins Bloomberg School of Public Health in May of 2012 and her Sc.B. in Human Biology from Brown University in 2009.
                </div>
              </div>
            </div>
            <div class="span4">
              <%= image_tag("charlotte.png", :alt => "Charlotte Gaydos") %>
              <h3>Charlotte Gaydos</h3>
              <p>Chair of the Board</p>
              <div class="accordian-heading">
                <a class="btn accordian-toggle" data-toggle="collapse" data-parent="#team" href="#collapseCharlotte">More about Charlotte</a>
              </div>
              <div id="collapseCharlotte" class="accordian-body collapse">
                <div class="accordian-inner">
                  <br/>
                  Charlotte is the Chair of the Board of Sexual Health Innovations and a renowed researcher in sexually transmitted infections (STIs). She is a professor at the Johns Hopkins School of Medicine. Charlotte also founded I Want The Kit, a website that allows people to order home STI testing kits. She is the Director of the International Sexually Transmitted Diseases Research Laboratory. She received her B.S. in medical technology and her M.S. in medical microbiology from West Virginia University. Her M.P.H. and Dr.P.H. in Infectious Diseases and Immunology were received from Johns Hopkins University School of Hygiene and Public Health. Charlotte has authored 17 book chapters, over 230 research articles, and over 400 research abstracts and oral presentations.
                </div>
              </div>
            </div>
          </div>

        </div>

        <hr class="featurette-divider">

        <div class="featurette">
          <h2 class="featurette-heading">Will your patients use it? <span class="muted">Let's find out.</span></h2>
          <p class="lead">We don't know whether or not So They Can Know will work for every patient population. Evaluations of similar services have shown mixed results. Work with us to learn where So They Can Know works and where it doesn't. Free for you, free for your patients.</p><br/><br/>
          <center>
            <a href="clinics/new" class="btn btn-large btn-primary"><i class="icon-list-alt"></i>  Sign Up</a> 
          </center>
        </div>

      </div>

      <hr class="featurette-divider">

      



