<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <title>STCK Clinic</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %> 
  <%= stylesheet_link_tag    "bootstrap_responsive", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <!--[if IE 7]>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.min.css">
  <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="STCK Clinic is a website, developed by Sexual Health Innovations, that allows clinics to sign up for free promotional material for So They Can Know, a free STD partner notification website.">
  <meta name="author" content="Sexual Health Innovations, with mad props to Twitter Bootstrap"> 
</head>
<body>

	   <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <!-- <div class="container">-->

        <div class="navbar navbar-inverse">
          <div class="navbar-inner navbar-fixed-top">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" id="collapse_button">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "STCK Clinic", clinics_path, class: "brand active" %>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="../clinics.html#how">How it works</a></li>
                <li><a href="../clinics.html#about">About us</a></li>
                <li><%= link_to "Sign Up", new_clinic_path, class: "" %></li>
                <li class="">
                  <% if logged_in? %>
                    <%= "Logged in as #{current_user.username}" %>
                  <% else %>
                    <a class="pull-right">Logged out</a>
                  <% end %>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

     <!--  </div> /.container -->
    </div><!-- /.navbar-wrapper -->

    <%= yield %>


      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Sexual Health Innovations &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

		<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


</body>
</html>

